{% extends 'index.html' %}

{% block content %}
<div id="add-div" class="d-flex justify-content-center flex-column align-items-center mt-4">
    <!-- Lomakkeen sisällön piilotus tapahtuu skriptillä -->
</div>
    
<div class="container text-center playfair-display-unique1">
    <h1>Categories</h1>

    <div class="d-flex justify-content-center mt-3">
        <button id="add-btn" class="btn btn-success btn-sm" onclick="showaddform()">Add new category</button>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <form method="post" action="{% url 'search-categories' %}">
            {% csrf_token %}
            <input class="card-text" type="text" placeholder="Search" name="search">
            <input type="submit" value="Search" class="btn btn-success btn-sm">
        </form>
    </div>


    <div class="d-flex flex-column align-items-center mt-4">
        {% for c in categories %}
        <div class="card bg-dark text-white mb-3" style="width: 50rem;">
            <div class="card-body text-center">
                <h4 class="card-title">{{ c.categoryname }}</h4>
                <a href="/edit-category-get/{{ c.id }}/" class="btn btn-success">Edit</a>
                <a href="/confirm-delete-category/{{ c.id }}/" class="btn btn-danger">Delete</a>
                <a href="/links-by-category/{{ c.id }}/" class="btn btn-secondary">{{ c.categoryname }} Links</a>
            </div>
        </div>
        {% empty %}
        <div class="card bg-dark text-white" style="width: 50rem;">
            <div class="card-body">
                <p class="card-text">No categories found in the database</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
            <!-- Tämä lomake lähetetään palvelimelle, jossa se renderöidään ja lähetetään selaimelle. Huom! csrf token mukaan -->
<script>
    let formCategory = `
    <h2 style="text-align: center;">Please fill in form</h2>
    <div class="card bg-dark text-white mt-3" style="width: 25rem;">
        <div class="card-body">
            <form method="post" action="/add-category/">
                {% csrf_token %}
                <input class="card-text" type="text" placeholder="Category name" name="categoryname">
                <br />
                <input type="submit" value="Confirm" class="btn btn-success btn-sm mt-2">
                <input type="button" id="hide-btn" class="btn btn-secondary btn-sm mt-2" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`;

    function showaddform() {
        document.getElementById("add-div").innerHTML = formCategory;
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = "";
    }
</script>

{% endblock %}
