{% extends 'index.html' %}

{% block content %}
<div class = "container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card bg-dark text-white" style="width: 25rem; margin-top: -300px !important;">
            <div class="card-header">
                <h4>Wrong credentials</h4>
                <div class="card-body">
                    <input type="button" onclick="window.location.href='/log/'" class="btn btn-secondary btn-sm" value="Try again">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}